@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}

p {
  font-size: 20px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
}

.navbar h1 {
  color: #5896C7;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #5896C7;
}

.content {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.paddingContent {
  max-width: 1400px;
  margin: 40px auto;
  background-color: white;
  min-height: 100%;
}

.rowC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  border-style: solid;
  border-width: 1px;
  border-color: #447780;
  border-radius: 5px;
  background-color: #ebfcff;
  height:35px;
  font-size:25px;
}

.colR {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
}

.colR h3,h2, p {
  padding-left: 50px;
  padding-right: 50px;
}

/* Section for all of the account related pages */

.seperationLeft {
  padding: 10px;
}

.seperationLeft input {
  height: 20px;
  font-size: 14pt;
  width: 300px;
}

.background {
  Background-image: url('https://i.postimg.cc/rsybqnHv/Background.png');
}

.seperationRight {
  padding: 20px;
  display: flex;
  justify-content: right;
}

.content img {
  width: 400px;
  height: 250px;
}

.imageCenter {
  justify-content: 'center'
}

.Home a {
  color: black;
  font-weight: bold;
}

.description {
  padding-bottom: 50px;
}

.forumContent {
  padding: 10px;
}

.post {
  padding-bottom: 10px;
}

.spacingTop {
  padding-top: 40px;
}

a {
  color:black;
}